/* reports.module.css */

.reportsContainer {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reportSection {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-bottom: 20px;
}

/* Styling for date pickers and button */
.datePicker {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 5px;
}

.datePicker label {
    margin-right: 25px;
    font-weight: bold;
}

.datePicker input[type="date"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.datePicker button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.datePicker button:hover {
    background-color: #45a049;
}

.datePicker button:disabled {
    background-color: #ccc;
    cursor: default;
}

/* Styling for the report results */
.reportResults {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.reportResults pre {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 15px;
    overflow-x: auto; /* For horizontal scrolling */
    max-height: 400px; /* Set a maximum height with vertical scroll */
}

.downloadButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 15px;
  }
  
  .downloadButton:hover {
    background-color: #45a049;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end; /* Aligns children (buttons) to the far right */
    align-items: center; /* Vertically aligns children in the middle, if needed */
    width: 55%; /* Ensures the container takes the full width */
  }
  
  