.sidebar {
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between items */
  width: 250px;
  height: 100vh;
  background-color: #f0f4f8;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sidebarNav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Let the navigation take up available space */
}

.navItem {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.navItem:hover {
  background-color: #e1e5eb;
  color: #1a202c;
}

/* Add this new class for the logout button */
.logoutButton {
  display: block;
  width: 100%; /* Full width */
  padding: 12px 10px; /* Similar to other nav items */
  text-align: center; /* Center the text */
  background: none; /* No background */
  border: none; /* No border */
  color: inherit; /* Inherit color from parent */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Match other nav items */
}

.logoutButton:hover {
  background-color: #e1e5eb; /* Softer color for hover state */
  color: #1a202c;
}
