.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100vh;
  background-color: #f0f4f8;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.sidebarNav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navItem {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 12px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.navItem:hover {
  background-color: #e1e5eb;
  color: #1a202c;
}

/* Add this new class for the logout button */
.logoutButton {
  display: block;
  width: 100%;
  padding: 12px 10px;
  text-align: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  border-radius: 4px;
  align-self: flex-end; /* Position at the bottom of the sidebar */
}

.logoutButton:hover {
  background-color: #e1e5eb;
  color: #1a202c;
}
