/* timeclock.module.css */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.timeTracker {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.clockInButton, .clockOutButton {
    background-color: #4CAF50; /* Green color for clock in */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clockOutButton {
    background-color: #F44336; /* Red color for clock out */
}

.clockInButton:hover, .clockOutButton:hover {
    opacity: 0.9;
}

.summary, .recentActivity {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.summary h2, .recentActivity h2 {
    margin-bottom: 10px;
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('/digital-7.ttf'); /* Adjust the path to the font file */
  }
  
   
.hoursWorkedDisplay {
    font-family: 'digital-clock-font'; /* Choose a digital-style font */
    font-size: 12rem; /* Adjust the font size as needed */
    font-weight: normal; /* Use normal font weight for a digital look */
    color: #000; /* Choose a text color */
    padding: 10px; /* Add some padding to the element */
    text-align: center; /* Center the text horizontally */
    margin-bottom: 2rem; /* Add some space between the element and the next one */
  }
/* Additional styles as needed */
